* {
  padding: 0%;
  margin: 0%;
}

p {
  display: inline;
  font-family: Manrope, Noto Sans Armenian, sans-serif;
  cursor: pointer;
  
}


#top-header {
  width: 100vw;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(228, 228, 228);
  height: 40px;
  display: flex;
  align-items: center;
}

#bzn {
  color: rgb(90, 89, 89);
  margin-left: 10px;
  font-size: 12px;
}

#anh {
  border-bottom: 2px solid #7ce00b;
  padding-bottom: 10px;
  font-size: 14px
}
#category{
  padding-left: 80px;
}
#contacts{
  display: flex;
  flex-direction: row;
  color: #505350;
  font-size: 14px;
  padding-right: 100px;
}
#four{
  margin-left: 5px;
  border-right: 2px solid  rgb(90, 89, 89) ;
  padding-right: 10px;
  font-weight: 550;
}
#hamar{
  padding-left: 10px;
  font-weight: 550;
}
#cont2{
  padding-left: 15px;
  color: #6d746d;

}
#mutq{
  padding-left: 15px;
}